<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h3>Fill out new team info here:</h3>
   <form method="POST" action="/team">
      <input type="text" name="name"placeholder="Team Name"><br>
      <input type="text" name="coach" placeholder="Coach"><br>
      <input type="text" name="pg" placeholder="Point Guard"><br>
      <input type="text" name="sg" placeholder="Shooting Guard"><br>
     <input type="text" name="sf" placeholder="Small Forward"><br>
     <input type="text" name="pf" placeholder=" Power Forward"><br>
      <input type="text" name="c" placeholder="Captain"><br>
     <input type="submit" id="Submit">
     </form>
 </body>
</html>
